html {
  scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
}
